
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Jumbotron -->
<div class="jumbotron text-center lighten-5">

    <!-- Title -->
    <img class="logoAbout" src="~/Recursos/img/logos/shuffleaway.png" alt="">

    <!-- Subtitle -->
    <p class="my-4 font-weight-bold">Sobre nosotros...</p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">

        <!-- Grid column -->
        <div class="col-xl-7 pb-2">

            <p class="card-text">
                ShuffleAway! es un emprendimiento privado con base en Argentina y con el objetivo de expandirse remotamente por todo el mundo.
                Buscamos automatizar los sorteos organizados por nuestros clientes y, a la vez,
                hacemos crecer su negocio a partir de un gran flujo de usuarios, generando publicidad automatica.
            </p>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <hr class="my-4 pb-2">

    <button class="btn blue-gradient btn-rounded">Como funciona?</button>

</div>
<!-- Jumbotron -->
