
@{
    ViewBag.Title = "Demostracion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="demostracion_section1">
    <h2 class="my-4 font-weight-bold" style="text-align: center;">Como crear un sorteo...</h2>
        <p align="center">
            <iframe width="1024" height="480" style="display:block" src="https://www.youtube.com/embed/4y4xLqmVxWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
</section>

<section id="demostracion_section2">
    <h2 class="my-4 font-weight-bold" style="text-align: center; margin-top: 5rem !important;">Como inscribirse a un sorteo...</h2>
        <p align="center">
            <iframe width="1024" height="480" style="display:block" src="https://www.youtube.com/embed/4y4xLqmVxWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
</section>