
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-4 font-weight-bold" style="text-align: center;">Preguntas frecuentes...</h2>

<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               <b>P:</b> Qué es "ShuffleAway!"?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> ShuffleAway! es una plataforma encargada de automatizar tus sorteos de una manera práctica y simple. Además, ayuda a crecer tu sitio
                            gracias a que cualquier usuario registrado puede inscribirse con una serie de pasos a seguir.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <b>P:</b> Qué puedo hacer en "ShuffleAway!"?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> En ShuffleAway! vas a ser capaz de crear tus propios sorteos e inscribirte a los sorteos que ya esten creados por usuarios premium. Tambien
                            vas a poder personalizar tu perfil y acceder a rankings que te darán a conocer entre la comunidad.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <b>P:</b> Cuánto cuesta suscribirme a ShuffleAway! y que beneficios tengo?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> La suscripción premium de ShuffleAway cuesta tan solo 750ARS por mes. Con ella vas a poder crear tus propios sorteos y administrarlos a tu manera e ilimitadamente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <b>P:</b> Cómo participo de un sorteo?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> Una vez que te hayas registrado en ShuffleAway! y hayas completado tu perfil de manera correcta, vas a poder acceder a la lista de sorteos activos dentro de la plataforma.
                            Una vez ahí, clickeas en el sorteo que más te interese, completas los pasos a seguir y ya estas participando del sorteo.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <b>P:</b> Cómo creo un sorteo?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> Una vez que te hayas convertido en usuario premium de ShuffleAway!, vas a poder acceder a una sección especial de la plataforma.
                            Dentro de ella vas a tener la posibilidad de crear tu propio sorteo de manera fácil e intuitiva, estableciendo los pasos a seguir.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <b>P:</b> Qué redes sociales están disponibles en "ShuffleAway!"?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Respuesta:</b> Actualmente las redes sociales disponibles para los pasos de tus sorteos son Facebook e Instagram. Estamos trabajando arduamente para incorporar más en un futuro.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->
