@{
	ViewBag.Title = "Home Page";
}
<!-- Empieza contenido -->
<section class="section-main">
	<div class="contenedor-fluid section-contenido">
		<div class="flex-center flex-column">
			<div class="row">
				<div class="col-6 text-left columna-izq-parrafos">
					<div class="col-md-12">
						<p class="p-uno">Una plataforma para automatizar tus sorteos y hacer crecer tu negocio.</p>
					</div>
					<div class="col-md-12">
						<p class="p-dos">Gestioná tus sorteos de una forma fácil y práctica y, a la vez, ayuda a crecer tu sitio de la manera mas rápida.</p>
					</div>
				</div>
				<div class="col-6 columna-izq-parrafos">
					<div class="col-md-12">
						<p class="p-uno">Una plataforma para automatizar tus sorteos y hacer crecer tu negocio.</p>
					</div>
					<div class="col-md-12">
						<p class="p-dos">Gestioná tus sorteos de una forma fácil y práctica y, a la vez, ayuda a crecer tu sitio de la manera mas rápida.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Termina contenido-->
