@{
	ViewBag.Title = "Home Page";
}
<!-- Empieza contenido -->
<div class="container">


	<section class="section-intro" href="#">

		<!--Section heading-->
		<h1 class="mt-5 font-weight-bold text-center">Una plataforma para automatizar tus sorteos y hacer crecer tu negocio</h1>
		<!--Section description-->
		<p class="px-5 mt-5 pb-3 lead blue-text text-center">
			Gestioná tus sorteos de una forma fácil y práctica y,
			a la vez, ayudá a hacer crecer tu sitio de la manera más
			rápida.
		</p>

		<!--Grid row-->
		<div class="row">

			<!--Grid column-->
			<div class="col-md-4">

				<!--Grid row-->
				<div class="row mb-2">
					<div class="col-2">
						<i class="fas fa-2x fa-flag-checkered light-blue-text"></i>
					</div>
					<div class="col-10 text-left">
						<h5 class="font-weight-bold">Competencia</h5>
						<p class="grey-text">
							Crea sorteos y elige uno o más ganadores al azar.
						</p>
					</div>
				</div>
				<!--Grid row-->
				<!--Grid row-->
				<div class="row mb-2 mt-5">
					<div class="col-2">
						<i class="fas fa-2x fa-clipboard-check light-blue-text"></i>
					</div>
					<div class="col-10 text-left">
						<h5 class="font-weight-bold">Organización</h5>
						<p class="grey-text">
							Selecciona cuáles serán los pasos a seguir y a qué plataforma estará destinado el sorteo
						</p>
					</div>
				</div>
				<!--Grid row-->

			</div>
			<!--Grid column-->
			<!--Grid column-->
			<div class="col-md-4 mb-2 center-on-small-only flex-center">
				<img class="logoIndexMedio" src="~/Recursos/img/logos/shuffleaway.png" alt="">
			</div>
			<!--Grid column-->
			<!--Grid column-->
			<div class="col-md-4">

				<!--Grid row-->
				<div class="row mb-2">
					<div class="col-2">
						<i class="fas fa-2x fa-award light-blue-text"></i>
					</div>
					<div class="col-10 text-left">
						<h5 class="font-weight-bold">Confianza</h5>
						<p class="grey-text">
							Fácil conexión y acciones verificadas a través de tus redes sociales preferidas
						</p>
					</div>
				</div>
				<!--Grid row-->
				<!--Grid row-->
				<div class="row mb-2 mt-4">
					<div class="col-2">
						<i class="fas fa-2x fa-bolt light-blue-text"></i>
					</div>
					<div class="col-10 text-left">
						<h5 class="font-weight-bold">Rapidez</h5>
						<p class="grey-text">
							Los usuarios tendrán la posibilidad de ingresar al sorteo con tan solo unos pocos clicks!
						</p>
					</div>
				</div>
				<!--Grid row-->

			</div>
			<!--Grid column-->

		</div>
		<!--Grid row-->

	</section>

	<!--Testimonios-->
	<section class="team-section text-center my-5">

		<!-- Section heading -->
		<h2 class="h1-responsive font-weight-bold my-5">Testimonios</h2>
		<!-- Section description -->
		<p class="blue-text w-responsive mx-auto mb-5 h5-responsive">Qué dicen nuestros clientes...</p>

		<!--Grid row-->
		<div class="row text-center">

			<!--Grid column-->
			<div class="col-md-4 mb-md-0 mb-5">

				<div class="testimonial">
					<!--Avatar-->
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
					</div>
					<!--Content-->
					<h4 class="font-weight-bold dark-grey-text mt-4">Ana Cardozo</h4>
					<h6 class="font-weight-bold blue-text my-3">Comerciante informático</h6>
					<p class="font-weight-normal dark-grey-text">
						<i class="fas fa-quote-left pr-2"></i>ShuffleAway! fue una excelente herramienta para el crecimiento de mi pequeño emprendimiento, y sin dudas lo seguirá siendo.
						Estoy muy feliz sobre lo fácil que es usarla y cuán intuitiva es la forma de crear los sorteos.
					</p>
					<!--Review-->
					<div class="orange-text">
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star-half-alt"> </i>
					</div>
				</div>

			</div>
			<!--Grid column-->
			<!--Grid column-->
			<div class="col-md-4 mb-md-0 mb-5">

				<div class="testimonial">
					<!--Avatar-->
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
					</div>
					<!--Content-->
					<h4 class="font-weight-bold dark-grey-text mt-4">Carlos Maldonado</h4>
					<h6 class="font-weight-bold blue-text my-3">Fotógrafo</h6>
					<p class="font-weight-normal dark-grey-text">
						<i class="fas fa-quote-left pr-2"></i>Usar ShuffleAway! para organizar un sorteo hace que el proceso vaya como el viento.
						Muchas opciones para las entradas, fácil de usar y la posibilidad de recibir feedback de mis seguidores hacen de esta plataforma una elección obvia.
					</p>
					<!--Review-->
					<div class="orange-text">
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="far fa-star"> </i>
					</div>
				</div>

			</div>
			<!--Grid column-->
			<!--Grid column-->
			<div class="col-md-4">

				<div class="testimonial">
					<!--Avatar-->
					<div class="avatar mx-auto">
						<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
					</div>
					<!--Content-->
					<h4 class="font-weight-bold dark-grey-text mt-4">Sara Miconi</h4>
					<h6 class="font-weight-bold blue-text my-3">Dueña de una tienda de ropa</h6>
					<p class="font-weight-normal dark-grey-text">
						<i class="fas fa-quote-left pr-2"></i>Amo ShuffleAway! Gracias a esta plataforma, pude alcanzar personas de todas partes del país mediante un simple sorteo.
						Es todo automatico y fácil, y los resultados llegan en un abrir y cerrar de ojos.
					</p>
					<!--Review-->
					<div class="orange-text">
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="fas fa-star"> </i>
						<i class="far fa-star"> </i>
					</div>
				</div>

			</div>
			<!--Grid column-->

		</div>
		<!--Grid row-->

	</section>
</div>
<!-- Testimonios -->
