
@{
    ViewBag.Title = "Privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body>
    <h2 class="my-4 font-weight-bold" style="text-align:center;">Privacidad</h2>
    <div class="container py-3">
        <div class="row">
            <p>
                El presente documento establece los términos en que ShuffleAway! ("nosotros") usa y protege la información que es proporcionada por sus usuarios al momento de utilizar este sitio web.
                Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado,
                lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta política de privacidad puede cambiar con el tiempo o ser actualizada, por
                lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse de que está de acuerdo con dichos cambios.
            </p>

            <p><strong>• Recolección de la información</strong></p>
            <p>
                Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de contacto (dirección de correo electrónico e información demográfica).
                Así mismo, cuando sea necesario, podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.
            </p>

            <p><strong>• Uso de la información</strong></p>
            <p>
                Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.
                Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio.
                Estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.

                ShuffleAway! está altamente comprometido a cumplir con el compromiso de mantener su información segura.
            </p>

            <p><strong>• Cookies</strong></p>
            <p>
                Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente.
                Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.

                Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente.
                Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente, visitas a una web .
                Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web.
                También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
            </p>

            <p><strong>• Enlaces a otros sitios</strong></p>
            <p>
                Este servicio contiene enlaces a otros sitios. Al hacer click en un enlace a terceros, será redireccionado a ese sitio. Estos sitios externos no estan operados por nosotros.
                Es por eso que recomendamos revisar la politica de privacidad de estos sitios externos.
                No tenemos control y no asumimos responsabilidad por el contenido, las politicas de privacidad ni las practicas de estos sitios de terceros.
            </p>

            <p>
                ShuffleAway! se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
            </p>

        </div>
    </div>
</body>
</html>