
@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <body>
        <h2 class="my-4 font-weight-bold" style="text-align:center;">Términos y condiciones</h2>
        <div class="container py-3">
            <div class="row">
                <p>
                    Este sitio fue creado por nosotros en orden de proveer una forma mucho mas fácil de organizar sorteos en tus sitios a traves de las redes sociales.
                    Estos terminos y condiciones constituyen un "set" de reglas con las cuales operamos nuestros servicios.
                </p>

                <p><strong>Registro y acceso</strong></p>
                <p>
                    En orden para acceder a nuestro servicio, primero debes suscribirte completando la informacion requerida y estableciendo un usuario y contraseña.
                    Esta informacion puede ser actualizada en cualquier momento en los ajustes de usuario o contactándonos por los medios provistos en el sitio.
                    Recomendamos mantener tu contraseña segura y cerrar sesión cada vez que dejes la computadora sin atención.
                    También recomendamos que ante cualquier uso sin autorización de tu cuenta, nos contactes de inmediato a consultas@shuffleaway.com
                </p>

                <p><strong>Pago de suscripcion</strong></p>
                <p>
                    Nos reservamos el derecho de cambiar el monto, tarifas y cargos por los servicios que proveemos, siempre con la prioridad de notificarles a ustedes, nuestros clientes y usuarios.
                    No habra reembolso alguno por el uso parcial del mes de suscripcion.
                </p>

                <p><strong>Uso del servicio</strong></p>
                <p class="d-block">
                    Debes ser absolutamente responsable sobre la informacion que vos o tus usuarios autorizados transmiten o envian a través del sitio.
                    Al usar el servicio, aceptas que <b>no sucederá</b> lo siguiente:
                </p>
                <pre>
                • Relizar un sorteo sin la intención de entregar un premio;
                </pre>
                <pre>
                • Realizar un sorteo en que la URL redireccione a un lugar no admitido;
                </pre>
                <pre>
                • Promocionar premios los cuales no dispones;
                </pre>
                <pre>
                • Crear multiples cuentas para lograr mas entradas o ganar multiples premios;
                </pre>
                <pre>
                • Hacerte pasar por una entidad o persona para generar beneficios;
                </pre>
                <pre>
                • Generar entradas automaticas fraudulentas;
                </pre>
                <pre>
                • Reproducir, duplicar, copiar o explotar cualquier seccion de ShuffleAway;
                </pre>
                <pre>
                • Modificar o hackear ShuffleAway; Implicar otro sitio.
                </pre>

                <br />
                
                <p>
                    Romper cualquiera de estas reglas resultara en la suspension permanente de la cuenta o en el inicio de una investigación de parte nuestra para obtener información tuya. Durante este periodo, tus sorteos seran pausados/cancelados hasta que compruebes tu identidad y tus buenas intenciones.
                </p>

                <p><strong>Premios y garantía</strong></p>
                <p>
                    ShuffleAway! no se hace cargo de la forma de entrega ni de la garantía de los premios. Por otro lado, si nos hacemos cargo de aplicar la correspondiente sanción al organizador que no respetó los términos del servicio
                    a la hora de llevar a cabo su sorteo, asi como a los participantes que no acataron las reglas.
                </p>
                <p>
                    Todo esto se llevará a cabo luego de analizar todas las pruebas correspondientes al caso.
                </p>
            </div>
        </div>
    </body>
    </html>

