body {
	font-family: 'Varela Round', sans-serif !important;
	font-weight: 400 !important;
	font-size: 100% !important;
}

label {
	font-size: 100% !important
}

select {
	font-size: 100% !important;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#9CECFB 0%, #65C7F7 55%, #0052D4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#logoSidebar {
}

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	transition: all 0.3s;
}

	#sidebar.active {
		margin-left: -250px;
	}

	#sidebar .sidebar-header {
		padding: 20px;
		background: #6d7fcc;
	}

	#sidebar ul.components {
		padding: 20px 0;
		border-bottom: 1px solid #47748b;
	}

	#sidebar ul p {
		color: #fff;
		padding: 10px;
	}

	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: block;
		color: white;
	}

	#sidebar a:hover {
		background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 25%, #0052D4 75%) !important;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: color 200ms linear;
	}

	#sidebar ul li.active > a,
	a[aria-expanded="true"] {
		color: #fff;
		background: #6d7fcc;
	}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

	ul.CTAs a {
		text-align: center;
		font-size: 0.9em !important;
		display: block;
		border-radius: 5px;
		margin-bottom: 5px;
	}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
	width: calc(100% - 300px);
	padding: 20px 0px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
}

	.content.active {
		width: 100%;
	}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}

		#sidebar.active {
			margin-left: 0;
		}

	.content {
		width: 100%;
	}

		.content.active {
			width: calc(100% - 250px);
		}

	#sidebarCollapse span {
		display: none;
	}
}

/*DetePicker Css*/
.datetimepicker {
	left: 382.453px !important;
	top: 398px !important;
}

/*Clases de tab INDEX*/

.mr-tab-content{
	margin-top: 25px !important;
}

/*Spinner edad*/

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  margin-bottom: 3rem;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}

.container-buttons {
	position: absolute !important;
	max-width: 960px !important;
	bottom: 10px !important;
	/*left: 600px !important;*/
}

.listaActivosA {
    margin-top: 75px;
    width: 80%;
}

.listaActivosB {
    margin-top: 75px;
}

.listaActivosA a:hover {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 15%, #0052D4 25%) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
}

