body {
    font-family: 'Varela Round', sans-serif !important;
    font-weight: 400 !important;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 0px;
	padding-right: 0px;
    padding-bottom: 0px;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/*Estilos propios*/

.view {
	background: url(../Recursos/img/bg.jpg)no-repeat center center;
	background-size: cover;
}

.top-nav-collapse {
	background-color: #4285F4;
}

.navbar {
	box-shadow: none !important;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

.navbar-principal .nav-link {
	color: #000000 !important;
	font-size: 18px;
}

.dropdown-item {
    font-size: 16px !important;
    color: black;
    -webkit-background-clip: text;
    background-clip: text;
}

.dropdown-notif {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 16px !important;
    color: black;
    -webkit-background-clip: text;
    background-clip: text;
}

.dropdown-item:hover {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 25%, #0052D4 95%) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
}

.navbar-brand {
	width: 40px;
}

.modal-dialog.cascading-modal.login {
	margin-top: 5%;
}

pre {
    font-family: 'Varela Round', sans-serif !important;
    font-size: 16px;
    display: contents;
    white-space: pre-line;
    font-weight: bold;
}
/*Section para agregar contenido*/
#section-intro {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.tabLogin {
    display: block;
    padding: 0.5rem 1rem;
    color: dodgerblue;
}

.tabLogin:hover {
    text-decoration: none;
    color: white;
}

.tabLogin.active {
  color: white;
  border: 2px solid #848484;
  border-style: inset;
}

.section-contenido {
	display: table-cell;
	vertical-align: middle;
}

.section-main {
	height: 100vh;
	z-index: 2000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item {
	margin: inherit 5%;
	transition: 0.3s all;
	border: 1px solid transparent !important;
    display: inline;
}

.fadeLinks:hover {
     background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 25%, #0052D4 95%) !important;
     -webkit-background-clip: text;
     background-clip: text;
     transition: color 200ms linear;
}

.fadeLinks:hover {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 25%, #0052D4 95%) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
}

li a{
    font-size: 14px;
}

.logoIndexMedio {
    height: 300px;
    width: 150%;
}

.logoLayoutIndex {
    max-width: 300%;
    height: auto;
    margin-left: -45px;
    margin-top: 4px;
}

.logoAbout {
    max-width: 100%;
    max-height: 250px;
}

.iconoPerfil {
    margin-right: 75px;
}

/*Plan precios*/

.pricing .card {
    border: 0.5px solid dodgerblue;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    left: 75px;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

    .pricing .card-price .period {
        font-size: 0.8rem;
    }

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

        .pricing .card:hover .btn {
            opacity: 1;
        }
}