body {
	font-family: 'Varela Round', sans-serif !important;
	font-weight: 400 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/*Estilos propios*/

.view {
	background: url(../Recursos/img/bg.jpg)no-repeat center center;
	background-size: cover;
}

.top-nav-collapse {
	background-color: #4285F4;
}

.navbar {
	box-shadow: none !important
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

.navbar-principal .nav-link {
	color: #000000 !important;
	font-size: 18px
}

.dropdown-item {
    font-size: 16px !important;
    color: black;
    -webkit-background-clip: text;
    background-clip: text;
}

.dropdown-item:hover {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 50%, #0052D4 100%) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
}

.navbar-brand {
	width: 40px
}

.modal-dialog.cascading-modal.login {
	margin-top: 5%;
}


/*Section para agregar contenido*/
#section-intro {
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
	height: 100vh;
}

.section-contenido {
	display: table-cell;
	vertical-align: middle;
}

.section-main {
	height: 100vh;
	z-index: 2000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item {
	margin: 0 5%;
	transition: 0.3s all;
	border: 1px solid transparent !important;
}

.nav-item:hover {
     background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 50%, #0052D4 100%) !important;
     -webkit-background-clip: text;
     background-clip: text;
     transition: color 200ms linear;
}

a:hover {
    background-image: linear-gradient(to right, #9CECFB 0%, #65C7F7 50%, #0052D4 100%) !important;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 200ms linear;
}

li a{
    font-size: 14px;
}