
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

<div class="row">
	<div class="col-md-12 text-center">
		<h1>Bienvenido a ShuffleAway!</h1>
	</div>
</div>

