
@{
    ViewBag.Title = "InscripcionSorteo";
    Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

@section cssIndexPlataforma{

}

<div class="content fondoInscripcion">
    <div class="container-fluid">

        <div id="logreg-forms">
            <form class="form-signin">
                <h1 class="h3 mb-4 font-weight-normal" style="text-align: center"> Nombre sorteo</h1>
                <hr />
                <p class="h-50 mb-5 font-weight-normal" style="text-align: center; word-wrap:break-word;">
                    Aca va la descripcion del sorteo: descripcion descripcion descripcion descripcion
                </p>
                <div class="social-login mb-4">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Iniciar sesion</span> </button>
                </div>
                <hr />
                <p class="h5 mb-3 font-weight-normal" style="text-align:center"> Entradas: </p>
                <a class="fadeLinks">Ver pagina<i class="fas fa-user-plus" style="float: right;"></i></a>
                <a class="fadeLinks">Visitar post<i class="fas fa-user-plus" style="float: right;"></i></a>
                <a class="fadeLinks">Visitar usuario<i class="fas fa-user-plus" style="float: right;"></i></a>

                <hr />
                <a class="mb-2" style="text-align:center" href="@Url.Action("PrivacidadYCondiciones", "Home")">Terminos del servicio</a>
            </form>


        </div>
    </div>

</div>