
@{
    ViewBag.Title = "MisInscripciones";
    Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 text-lg-left">
                    <h3 class="my-4 font-weight-bold">Tus inscripciones activas...</h3>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-5" style="left: 30px">
                        <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Sorteos</p>
                        <p class="list-group-item list-group-item">Sorteo</p>

                    </div>
                    <div class="col-3 text-center">
                        <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Finalizacion</p>
                        <p class="list-group-item list-group-item">Fecha</p>
                    </div>
                    <div class="col-2 text-center" style="right: 30px">
                        <p class="list-group-item list-group-item-primary blue-gradient" style="color:aliceblue;">Eliminar</p>
                        <a class="list-group-item list-group-item" href="#"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="col-2 text-center" style="right: 60px">
                        <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Ganador</p>
                        <p class="list-group-item list-group-item">Nombre usuario</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

