@model ShuffleAway_.Models.MvcModel
@using ShuffleAway_.Models

@{
	ViewBag.Title = "MisSorteosActivos";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

<h2 class="mt-5">Sorteos activos</h2>

<div class="container mt-5">
	<div class="row">
		<div class="col-8">
			<p class="list-group-item list-group-item-primary text-center">Sorteos</p>
			@foreach (var item in Model.lstSorteos)
			{
				<a href="#!" class="list-group-item list-group-item-action list-group-item-action">
					@item.nombreSorteo
				</a>
			}

		</div>
		<div class="col-4 text-center">
			<p class="list-group-item list-group-item-primary text-center">Finalizacion</p>
			@foreach (var item in Model.lstSorteos)
			{
				<p class="list-group-item list-group-item">@item.fechaFin</p>
			}

		</div>
	</div>
</div>

