@model ShuffleAway_.Models.MvcModel
@using ShuffleAway_.Models

@{
	ViewBag.Title = "MisSorteosActivos";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12 text-lg-left">
				<h3 class="my-4 font-weight-bold">Tus sorteos activos...</h3>
			</div>
		</div>

		<div class="container mt-5">
			<div class="row">
				<div class="col-6" style="left: 30px">
					<p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Sorteos</p>
					@foreach (var item in Model.lstSorteos)
					{
						<a href="#!" class="list-group-item list-group-item-action list-group-item-action fadeLinks">
							@item.nombreSorteo
						</a>
					}

				</div>
				<div class="col-4 text-center">
					<p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Finalizacion</p>
					@foreach (var item in Model.lstSorteos)
					{
						<p class="list-group-item list-group-item">@item.fechaFin</p>
					}
				</div>
                <div class="col-2 text-center" style="right: 30px">
                    <p class="list-group-item list-group-item-primary blue-gradient" style="color:aliceblue;">Eliminar</p>
                    @foreach (var item in Model.lstSorteos)
                    {
                        <a class="list-group-item list-group-item" href="@Url.Action("EliminarSorteoActivo", "Plataforma", new { id = item.idSorteo })"><i class="fas fa-times"></i></a>
                    }
                </div>
			</div>
		</div>
	</div>
</div>

@if (TempData["exitoEliminarSorteo"] != null)
{
	<div id="alert-correcto-eliminar-sorteo" role="alert" aria-live="assertive" aria-atomic="true"
		 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
		<div class="toast-header">
			<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
				 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
				<rect fill="#007aff" width="100%" height="100%" />
			</svg>
			<strong class="mr-auto">SuffleAway!</strong>
			<small>notificación</small>
		</div>
		<div class="toast-body">
			¡Sorteo eliminado correctamente!
		</div>
	</div>

	@section sorteoEliminadoScript{
		<script type="text/javascript">$('#alert-correcto-eliminar-sorteo').toast('show');</script>
	}
}

@if (TempData["errorEliminarSorteo"] != null)
{
	<div id="alert-eliminar-sorteo" role="alert" aria-live="assertive" aria-atomic="true"
		 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
		<div class="toast-header">
			<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
				 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
				<rect fill="#FF0000" width="100%" height="100%" />
			</svg>
			<strong class="mr-auto">SuffleAway!</strong>
			<small>notificación</small>
		</div>
		<div class="toast-body">
			Hubo un error al intentar eliminar el sorteo.
		</div>
	</div>

	@section sorteoEliminadoScript{
		<script type="text/javascript">$('#alert-eliminar-sorteo').toast('show');</script>
	}
}

