@model ShuffleAway_.Models.MvcModel
@using ShuffleAway_.Models
@{
	ViewBag.Title = "SorteosActivos";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-lg-left">
				<h3 class="my-4 font-weight-bold">Sorteos activos...</h3>
			</div>
		</div>

		<div class="container">
            <div class="row">
                <div class="col-6" style="left: 30px">
                    <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Sorteos</p>
                    @foreach (var item in Model.lstSorteos)
                    {
                        <a href="@Url.Action("InscripcionSorteo", "Plataforma", new { idSorteo = item.idSorteo })" class="list-group-item list-group-item-action list-group-item-action fadeLinks">
                            @item.nombreSorteo
                        </a>
                    }

                </div>
                <div class="col-2 text-center">
                    <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Edad minima</p>
                    @foreach (var item in Model.lstSorteos)
                    {
                        <p class="list-group-item list-group-item">@item.edadMinima</p>
                    }
                </div>
                <div class="col-4 text-center" style="right: 30px">
                    <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Finalizacion</p>
                    @foreach (var item in Model.lstSorteos)
                    {
                        <p class="list-group-item list-group-item">@item.fechaFin</p>
                    }
                </div>
            </div>
		</div>
	</div>
</div>
