@model ShuffleAway_.Models.MvcModel
@using ShuffleAway_.Models
@{
	ViewBag.Title = "SorteosActivos";
	Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-lg-left">
				<h3 class="my-4 font-weight-bold">Sorteos activos...</h3>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-6" style="left: 30px">
					<p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Sorteos</p>
					@foreach (var item in Model.lstSorteos)
					{
						<a href="@Url.Action("InscripcionSorteo", "Plataforma", new { idSorteo = item.idSorteo, edadMinima = item.edadMinima })" class="list-group-item list-group-item-action list-group-item-action fadeLinks">
							@item.nombreSorteo
						</a>
					}

				</div>
				<div class="col-2 text-center">
					<p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Edad mínima</p>
					@foreach (var item in Model.lstSorteos)
					{
						<p class="list-group-item list-group-item">@item.edadMinima años</p>
					}
				</div>
				<div class="col-4 text-center" style="right: 30px">
					<p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Finalizacion</p>
					@foreach (var item in Model.lstSorteos)
					{
						<p class="list-group-item list-group-item">@item.fechaFin</p>
					}
				</div>
			</div>
		</div>
	</div>
</div>


@if (TempData["error-inscribirse"] != null)
{
	<div id="alert-error-generar-sorteo" role="alert" aria-live="assertive" aria-atomic="true"
		 class="toast" data-autohide="true" data-delay="5000" style="position: absolute; top: 10px; right: 10px;z-index: 9999999">
		<div class="toast-header">
			<svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
				 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
				<rect fill="#FF0000" width="100%" height="100%" />
			</svg>
			<strong class="mr-auto">SuffleAway!</strong>
			<small>notificación</small>
		</div>
		<div class="toast-body">
			No cumples con la edad mínima para inscribirte a este sorteo.
		</div>
	</div>

	@section sorteoInscribirseScript{
		<script type="text/javascript">$('#alert-error-generar-sorteo').toast('show');</script>
	}
}