
@{
    ViewBag.Title = "UsuariosMasCreadores";
    Layout = "~/Views/Shared/_LayoutPlataforma.cshtml";
}

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 text-lg-left">
                    <h3 class="my-4 font-weight-bold">Usuarios que más sorteos organizaron</h3>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-2" style="left: 30px">
                        <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Posicion</p>
                    </div>
                    <div class="col-5 text-center">
                        <p class="list-group-item list-group-item-primary text-center blue-gradient" style="color:aliceblue;">Nombre de usuario</p>
                    </div>
                    <div class="col-3 text-center" style="right: 30px">
                        <p class="list-group-item list-group-item-primary blue-gradient" style="color:aliceblue;">Cantidad de sorteos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

