<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<!--Estilos para la plataforma-->
	<link href="~/Content/plataformaStyle.css" rel="stylesheet" />
	@Scripts.Render("~/bundles/modernizr")
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/mdb.css" rel="stylesheet" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<!-- Font Awesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="stylish-color">
            <div class="sidebar-header stylish-color" id="logoSidebar">
                <h3>Logo ShuffleAway que lleva a la home</h3>
            </div>

            <ul class="list-unstyled components">
                <h4 class="text-center blue-gradient text-white ">Bienvenido!</h4>
                <li>
                    <a href="#">Crear sorteo</a>
                </li>
                <li>
                    <a href="#">Sorteos activos</a>
                </li>
                <li>
                    <a href="#">Ajustes de perfil</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <button class="btn blue-gradient waves-effect btnAnimate rounded-pill">Cerrar sesión</button>
                </li>
            </ul>
        </nav>

        @* Contenido *@
        <div class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>

        </div>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>

    <script type="text/javascript" src="~/Scripts/shuffleScript.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker();
            $('#datetimepicker7').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>

</body>
</html>
